In [1]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import sklearn as sk
import seaborn as sns
%matplotlib inline

# Reading The Dataset

In [2]:
data=pd.read_csv("C:/Users/abira/Downloads/Templates/Admission_Predict1.csv")
data.head()

,Serial No.,GRE Score,TOEFL Score,University Rating,SOP,LOR,CGPA,Research,Chance of Admit
0,1,337,118,4,4.5,4.5,9.65,1,0.92
1,2,324,107,4,4.0,4.5,8.87,1,0.76
2,3,316,104,3,3.0,3.5,8.00,1,0.72
3,4,322,110,3,3.5,2.5,8.67,1,0.80
4,5,314,103,2,2.0,3.0,8.21,0,0.65

# Splitting the data into train and test

In [34]:
from sklearn.model_selection import train_test_split

In [35]:
x_train,x_test,y_train,y_test=train_test_split(x,y,test_size=0.20 ,random_state=42)

In [36]:
x_train

     GRE Score  TOEFL Score  University Rating  SOP  LOR   CGPA  Research
3          322          110                  3  3.5   2.5  8.67         1
18         318          110                  3  4.0   3.0  8.80         0
202        340          120                  5  4.5   4.5  9.91         1
250        320          104                  3  3.0   2.5  8.57         1
274        315          100                  1  2.0   2.5  7.95         0
..         ...          ...                ...  ...   ...   ...       ...
71         336          112                  5  5.0   5.0  9.76         1
106        329          111                  4  4.5   4.5  9.18         1
270        306          105                  2  2.5   3.0  8.22         1
348        302           99                  1  2.0   2.0  7.25         0
102        314          106                  2  4.0   3.5  8.25         0

[320 rows x 7 columns]

In [37]:
x_test

     GRE Score  TOEFL Score  University Rating  SOP  LOR   CGPA  Research
209        301          104                  3  3.5   4.0  8.12         1
280        311          102                  3  4.5   4.0  8.64         1
33         340          114                  5  4.0   4.0  9.60         1
210        325          108                  4  4.5   4.0  9.06         1
93         301           97                  2  3.0   3.0  7.88         1
..         ...          ...                ...  ...   ...   ...       ...
246        316          105                  3  3.0   3.5  8.73         0
227        312          110                  2  3.5   3.0  8.53         0
369        301           98                  1  2.0   3.0  8.03         1
176        329          119                  4  4.5   4.5  9.16         1
289        313          109                  3  4.0   3.5  9.00         0

[80 rows x 7 columns]

In [38]:
y_train

array([], shape=(320, 0), dtype=float64)

In [39]:
y_test

array([], shape=(80, 0), dtype=float64)

In [42]:
y_train=(y_train>0.5)
y_train

array([], shape=(320, 0), dtype=bool)

In [43]:
y_test=(y_test>0.5)
y_test

array([], shape=(80, 0), dtype=bool)

In [44]:
x_train.shape

(320, 7)

In [46]:
x_test.shape

(80, 7)

In [47]:
y_train.shape

(320, 0)

In [48]:
y_test.shape

(80, 0)